@model IEnumerable<EmployeeEvaluation.Models.HRBrowseSurvey>

@{
    ViewBag.Title = "Ankiety pracowników";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Ankiety pracowników</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyDadline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Employee)
        </td>
        <td>
            @Html.DisplayFor(m => item.Team)
        </td>
        <td>
            @Html.DisplayFor(m => item.SurveyName)
        </td>
        <td>
            @Html.DisplayFor(m => item.SurveyDate)
        </td>
        <td>
            @Html.DisplayFor(m => item.SurveyDadline)
        </td>
        <td>
            @if (item.SurveyStatusId < 4)
            {
                @Html.ActionLink("Akceptuj", "AcceptSurvey", new { id = item.SurveyId })
            }
            else
            {
                @Html.ActionLink("Przeglądaj", "ViewSurvey", new { id = item.SurveyId })
            }

        </td>
    </tr>
}

</table>
