<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ocena okresowa pracownika</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jquery-ui/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/moment-with-locales.js")
    @Scripts.Render("~/Scripts/correctioOfValidate.js")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    @if (Request.IsAuthenticated && User.IsInRole("Pracownik"))
                    {
                        <span class="icon-bar"></span>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <span class="icon-bar"></span>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("HR Manager"))
                    {
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span class="icon-bar"></span>
                    }
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Pracownik"))
                    {
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Moja ocena<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Moje ankiety", "Index", "EmpEvaluations")</li>
                                <li>@Html.ActionLink("Mój profil", "Index", "MyProfile")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <li>@Html.ActionLink("Pracownicy", "Index", "MGEmployees")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("HR Manager"))
                    { 
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Organizacja<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Pracownicy", "Index", "HREmployees")</li>
                                <li>@Html.ActionLink("Ankiety", "Index", "HRSurveys")</li>
                                <li>@Html.ActionLink("Zespoły", "Index", "HRTeams")</li>
                                <li>@Html.ActionLink("Menadżerowie", "Index", "HRManagers")</li>
                                <li>@Html.ActionLink("Struktura", "Structure", "HRStructure")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Definicje<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Definicje ankiet", "Index", "SurveyTemplates")</li>
                                <li>@Html.ActionLink("Stanowiska", "Index", "HRPositions")</li>
                                <li>@Html.ActionLink("Oceny", "Index", "HRRatings")</li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                       <li>@Html.ActionLink("Użytkownicy", "AdminUserList", "Admin")</li>
                    }
                    <li>@Html.ActionLink("O pracy", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - @DateTime.Now.Year - Katarzyna Jaczewska</p>
        </footer>
    </div>
</body>
</html>
