@model EmployeeEvaluation.Models.SurveyTemplate

@{
    ViewBag.Title = "Usuwanie ankiety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie</h2>

<h3>Czy na pewno usunąć ankietę?</h3>
<div>
    @*<h4>SurveyTemplate</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
