@model EmployeeEvaluation.Models.SurveyTemplate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SurveyTemplate</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SurveyDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-date="Powyższe pole mysi zawierać datę!." data-val-required="Pole Przyjęto jest wymagane." id="StartUsingDate1" name="SurveyDate1" type="datetime" value="@DateTime.Now.Day.ToString("00").@DateTime.Now.Month.ToString("00").@DateTime.Now.Year.ToString("0000")" />
                <span class="field-validation-valid text-danger" data-valmsg-for="SurveyDate1" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
<div class="form-group">
    <table class="customTable main">
        @foreach (var item in Model.SurveyPartTemplates)
        {
            <tr>
                <td width="35%">
                    <div id="actionDisplaySurveyPartText1_@item.Id">
                        @Html.DisplayFor(modelItem => item.Name, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                    </div>
                </td>
                <td width="35%">
                    <div id="actionDisplaySurveyPartText2_@item.Id">
                        @Html.DisplayFor(modelItem => item.SummaryTitle, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                    </div>
                </td>
                <td>
                    <a href="#" onclick="actionEdit('@item.Id','actionNewSurveyPartText3','actionNewSurveyPartText4','actionDisplaySurveyPartText1_@item.Id','actionDisplaySurveyPartText2_@item.Id','/SurveyTemplates/EditPart')">Edytuj</a> |
                    <a href="#" onclick="actionAddQuestion('@item.Id','actionNewSurveyPartText5','actionNewSurveyPartText6','actionNewSurveyPartText7','/SurveyTemplates/AddQuestion')">Dodaj Pytanie</a> |
                    <a href="#" onclick="actionDelete('@item.Id','@item.Name','sekcję ankiety','/SurveyTemplates/DeletePart/')">Usuń</a>
                </td>
            </tr>
            <tr width="30%">
                <td colspan="3" width="100%">
                    <table class="customTable sub">
                        @foreach (var subItem in item.SurveyQuestionTemplates)
                        {
                            <tr>
                                <td width="35%">
                                    <div id="actionDisplaySurveyQuestionText3_@subItem.Id">
                                        @Html.DisplayFor(modelItem => subItem.Name, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                    </div>
                                </td>
                                <td width="35%">
                                    <div id="actionDisplaySurveyQuestionText4_@subItem.Id">
                                        @Html.DisplayFor(modelItem => subItem.Definition, new { htmlAttributes = new { @class = "control-label col-md-2" } })
                                    </div>
                                </td>
                                <td width="15%">
                                    <div id="actionDisplaySurveyQuestionText5_@subItem.Id">
                                        @if (subItem.QuestionType == 1)
                                        {
                                            <div>Według skali</div>
                                        }
                                        else
                                        {
                                            <div>Pytanie otwarte</div>
                                        }
                                    </div>
                                </td>
                                <td width="15%">
                                    <a href="#" onclick="actionEditQuestion('@subItem.Id','actionNewSurveyPartText8','actionNewSurveyPartText9','actionNewSurveyPartText10','actionDisplaySurveyQuestionText3_@subItem.Id','actionDisplaySurveyQuestionText4_@subItem.Id','actionDisplaySurveyQuestionText5_@subItem.Id','@subItem.QuestionType','/SurveyTemplates/EditQuestion')">Edytuj</a> |
                                    <a href="#" onclick="actionDelete('@subItem.Id','@subItem.Name','sekcję ankiety','/SurveyTemplates/DeleteQuestion/')">Usuń</a>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </table>
</div>
<br />

<div class="form-group">
    <div class="col-md-2">
        <a href="#" onclick="actionAdd('@Model.Id','actionNewSurveyPartText1','actionNewSurveyPartText2','/SurveyTemplates/AddPart')">Dodaj sekcję ankiety</a>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<div id="dialog-add" title="Nowa sekcja">
    <div class="form-group">
        <div class="control-label col-md-6">
            Nazwa Sekcji
        </div>
        <div class="col-md-10">
            <input id="actionNewSurveyPartText1" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-6">
            Opis podsumowania
        </div>
        <div class="col-md-10">
            <input id="actionNewSurveyPartText2" type="text" class="form-control">
        </div>
    </div>
</div>

<div id="dialog-edit" title="Edycja sekcji">
    <div class="form-group">
        <div class="control-label col-md-6">
            Nazwa Sekcji
        </div>
        <div class="col-md-10">
            <input id="actionNewSurveyPartText3" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-6">
            Opis podsumowania
        </div>
        <div class="col-md-10">
            <input id="actionNewSurveyPartText4" type="text" class="form-control">
        </div>
    </div>
</div>

<div id="dialog-add-question" title="Nowe Pytanie">
    <div class="form-group">
        <div class="control-label col-md-6">
            Treść pytania
        </div>
        <div class="col-md-10">
            <textarea id="actionNewSurveyPartText5" cols="40" rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-6">
            Kryteria oceny
        </div>
        <div class="col-md-10">
            <textarea id="actionNewSurveyPartText6" cols="40" rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-6">
            Rodzaj pytania
        </div>
        <div class="col-md-10">
            <select id="actionNewSurveyPartText7" class="form-control">
                <option value="1">Odpowiedź według skali</option>
                <option value="2">Pytanie otwarte</option>
            </select>
        </div>
    </div>
</div>

<div id="dialog-edit-question" title="Edycja Pytania">
    <div class="form-group">
        <div class="control-label col-md-6">
            Treść pytania
        </div>
        <div class="col-md-10">
            <textarea id="actionNewSurveyPartText8" cols="40" rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-6">
            Kryteria oceny
        </div>
        <div class="col-md-10">
            <textarea id="actionNewSurveyPartText9" cols="40" rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-6">
            Rodzaj pytania
        </div>
        <div class="col-md-10">
            <select id="actionNewSurveyPartText10" class="form-control">
                <option value="1">Odpowiedź według skali</option>
                <option value="2">Pytanie otwarte</option>
            </select>
        </div>
    </div>
</div>

<div id="dialog-confirm" title="Usuwanie sekcji ankiety">
    <p id="confirmchapter"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Czy na pewno usunąć sekcję?</p>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/myEditDialog.js")
    @Scripts.Render("~/Scripts/myAddDialog.js")
    @Scripts.Render("~/Scripts/myAddQuestionDialog.js")
    @Scripts.Render("~/Scripts/myEditQuestionDialog.js")
    @Scripts.Render("~/Scripts/myDeleteDialog.js")
}
