@model IEnumerable<EmployeeEvaluation.Models.SurveyTemplate>

@{
    ViewBag.Title = "Definicje ankiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Definicje ankiet</h3>

<p>
    @Html.ActionLink("Nowa ankieta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div id="actionDisplayText1_@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            </td>
            <td>
                <div id="actionDisplayText2_@item.Id">
                    @Html.DisplayFor(modelItem => item.SurveyDate, "{0:dd.MM.yyyy}")
                </div>
            </td>
            <td>
                <div id="actionDisplayText3_@item.Id">
                    @if (item.PublishDate.Year > 1901)
                    {
                        @Html.DisplayFor(modelItem => item.PublishDate, "{0:dd.MM.yyyy}")
                    }
                </div>
            </td>

            <td>
                @if (item.PublishDate.Year < 1901)
                {
                    @Html.ActionLink("Edytuj ", "Edit", new { id = item.Id })<label>&nbsp;&nbsp;</label>
                    <a href="#" onclick="actionPublishSurvey('@item.Id','actionSurveyName','deadline','actionDisplayText1_@item.Id','actionDisplayText2_@item.Id','/SurveyTemplates/PublishSurvey')">Publikuj</a><label>&nbsp;&nbsp;</label>
                }
                else
                {
                    @Html.ActionLink("Podgląd", "View", new { id = item.Id }) <label>&nbsp;&nbsp;</label>
                }
                <a href="#" onclick="actionCopySurvey('@item.Id','actionSurveyName1','actionDisplayText1_@item.Id','/SurveyTemplates/CopySurvey')">Kopiuj</a><label>&nbsp;&nbsp;</label>
                @if (item.PublishDate.Year < 1901)
                {
                    <label>&nbsp;&nbsp;</label><a href="#" onclick="actionDelete('@item.Id','ankietę','','/SurveyTemplates/DeleteSurvey/')">Usuń</a>
                    @*<label>&nbsp;&nbsp;</label>@Html.ActionLink(" Usuń", "Delete", new { id = item.Id })*@
                }
            </td>
        </tr>
    }

</table>

<div id="dialog-publish-survey" title="Publikacja ankiety">
    <div class="form-group">
        <div class="control-label col-md-6">
            Nazwa ankiety
        </div>
        <div class="col-md-10">
            <textarea id="actionSurveyName" cols="40" rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-6">
            Termin
        </div>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-date="Powyższe pole musi zawierać datę!." data-val-required="Pole Przyjęto jest wymagane." id="deadline" name="deadline" type="datetime" value="@DateTime.Now.Day.ToString("00").@DateTime.Now.Month.ToString("00").@DateTime.Now.Year.ToString("0000")" />
            <span class="field-validation-valid text-danger" data-valmsg-for="deadline" data-valmsg-replace="true"></span>
        </div>
    </div>
</div>

<div id="dialog-copy-survey" title="Kopiowanie ankiety">
    <div class="form-group">
        <div class="control-label col-md-6">
            Nazwa ankiety
        </div>
        <div class="col-md-10">
            <textarea id="actionSurveyName1" cols="40" rows="3" class="form-control"></textarea>
        </div>
    </div>
</div>


<div id="errorDialog" title="Nie można opublikować ankiety">
    <div class="col-md-10">
        <p id="errorMessage"></p>
    </div>
</div>
<div id="inProgressDialog" hidden="hidden">
    <div align="center">
        <img src='@Url.Content("~/Content/images/ajaxloader.gif")' />
    </div>
</div>
<div id="dialog-confirm" title="Usuwanie">
    <p id="confirmchapter"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Czy na pewno usunąć sekcję?</p>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/myPublishSurvey.js")
    @Scripts.Render("~/Scripts/myCopySurvey.js")
    @Scripts.Render("~/Scripts/myDeleteDialog.js")
}