@model IEnumerable<EmployeeEvaluation.Models.EmployeeExtended>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string bgcolor = "";
    switch (item.Status)
    {
        case 0:
            bgcolor = "#FFFFFF";
            break;
        case 1:
            bgcolor = "#FCABAB";
            break;
        case 2:
            bgcolor = "#FD864D";
            break;
        case 3:
            bgcolor = "#FFFF00";
            break;
        case 4:
            bgcolor = "#AAFD77";
            break;
    };
    <tr bgcolor="@bgcolor">
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.ActionLink("Ankiety pracownika", "Edit", new { id = item.Id })
        </td>
    </tr">
}

</table>
