@model EmployeeEvaluation.Models.ManagerStructure

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Menadżer</h4>
    <h4>@Model.ManagerName</h4>
    <hr />

    <table class="table">
        <tr>
            <th>
               Zespół
            </th>
        </tr>

        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    <table class="table">
                        <tr>
                            <th>
                                Imię
                            </th>
                            <th>
                                Nazwisko
                            </th>
                            <th>
                                Stanowisko
                            </th>
                        </tr>
                        @foreach (var item2 in item.MamberList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem2 => item2.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem2 => item2.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem2 => item2.PositionName)
                                </td>

                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Powrót do listy", "Index")
</p>
