@model EmployeeEvaluation.Models.Survey

@{
    ViewBag.Title = "Wypełnianie ankiety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Ankieta oceny okresowej pracownika</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group" id="userInfo">

        <div class="col-md-10">
            <h4>Pracownik: @ViewBag.UserInfo</h4>
        </div>
        <div id="HeadPart">
            <div class="col-md-10">
                <h5>Ankieta: @Model.Name</h5>
            </div>
            <div id ="Deadline" class="col-md-10">
                <h5>Termin wypełnienia: @Model.SurveyDadline.ToShortDateString()</h5>
            </div>
        </div>
    </div>

    <div id="SectionPart">
        <div class="form-group">
            <h4 id="sectionTitle"></h4>
            <p id="sectionName"></p>
        </div>

        <div class="form-group">
            <div id="prevSectionDiv" class="col-md-1">
                <a href="#" style="display: none" id="prevSectionBtn" onclick="actionPrevSection('@Model.Id','/EmpEvaluations/PrevSection')" class="btn btn-primary"> Poprzednia sekcja</a>
            </div>
            <div id="startSectionDiv" class="col-md-8">
                <a href="#" id="startSectionBtn" onclick="actionStartSurvey('@Model.Id','/EmpEvaluations/StartSurvey')" class="btn btn-primary"> Rozpocznij ankietę </a>
                <a href="#" style="display: none" id="firstNextSectionBtn" onclick="actionFirstQuestion('@Model.Id','/EmpEvaluations/FirstQuestion')" class="btn btn-primary"> Przejdź do pytań </a>
            </div>
            <div id="nextSectionDiv" class="col-md-1">
                <a href="#" style="display: none" id="nextSectionQuestionBtn" onclick="actionSectionFirstQuestion('@Model.Id','/EmpEvaluations/NextSectionQuestion')" class="btn btn-primary"> Pytania z kolejnej sekcji </a>
            </div>
        </div>


    </div>
    <div hidden id="QuestionPart">
        <div class="form-group">
            <h4 id="questionName"></h4>
            <p id="questionDescription"></p>
            <div hidden="hidden" class="form-group" id="questionEmployeeScore0">
                <input type="radio" id="questionEmployeeScore5" name="employeeScore" value="5"><label for="questionEmployeeScore5">&nbsp;Zdecydowanie powyżej oczekiwań</label><br />
                <input type="radio" id="questionEmployeeScore4" name="employeeScore" value="4"><label for="questionEmployeeScore4">&nbsp;Przewyższa oczekiwania</label><br />
                <input type="radio" id="questionEmployeeScore3" name="employeeScore" value="3"><label for="questionEmployeeScore3">&nbsp;Zadowalająca</label><br />
                <input type="radio" id="questionEmployeeScore2" name="employeeScore" value="2"><label for="questionEmployeeScore2">&nbsp;Poniżej oczekiwań</label><br />
                <input type="radio" id="questionEmployeeScore1" name="employeeScore" value="1"><label for="questionEmployeeScore1">&nbsp;Zdecydowanie poniżej oczekiwań</label>
        </div>
            <div hidden="hidden" class="form-group" id="QuestionCommentDiv">
                <div class="col-md-10">
                    <textarea id="QuestionCommentText" cols="40" rows="3" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group" id="sectionEmployeeSummarySection">
        </div>
        <div class="form-group" id="sectionEmployeeScoreSection">
        </div>

        <div class="form-group">
            <div id="prevQuestionDiv" class="col-md-1">
                <a href="#" style="display: none" id="prevQuestionBtn" onclick="actionPrevQuestion('@Model.Id','/EmpEvaluations/PrevQuestion')" class="btn btn-primary"> Poprzednie pytanie </a>
                <a href="#" style="display: none" id="sectionHeaderBtn" onclick="actionSectionHeader('@Model.Id','/EmpEvaluations/SectionHeader')" class="btn btn-primary"> Nagłówek sekcji </a>
            </div>
            <div class="col-md-8">
            </div>
            <div id="nextQuestionDiv" class="col-md-1">
                <a href="#" style="display: none" id="nextQuestionBtn" onclick="actionNextQuestion('@Model.Id','/EmpEvaluations/NextQuestion')" class="btn btn-primary"> Następne pytanie </a>
                <a href="#" style="display: none" id="nextSectionBtn" onclick="actionNextSection('@Model.Id','/EmpEvaluations/NextSection')" class="btn btn-primary"> Następna sekcja </a>
                <a href="#" style="display: none" id="completeSurveyBtn" onclick="actionCompleteSurvey('@Model.Id','/EmpEvaluations/CompleteSurveyn','/EmpEvaluations/Index')" class="btn btn-primary"> Zatwierdź ankietę </a>
            </div>
        </div>
    </div>
</div>
}

@*<div class="form-group">
    @Html.ActionLink("Powrót do listy", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/Scripts/mySurvey.js")
}
