@model IEnumerable<EmployeeEvaluation.Models.PositionExtended>

@{
    ViewBag.Title = "Stanowiska pracy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Stanowiska pracy</h3>

<p>
    @Html.ActionLink("Dodaj stanowisko", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @if (@item.Members == 0)
            {
                <a href="#" onclick="actionDelete('@item.Id','@item.Name','stanowisko','/HRPositions/Delete/')">Usuń</a>
            }
            else
            {
                <a href="#" class="isDisabled">Usuń</a>
            }
        </td>
    </tr>
}

</table>

<div id="dialog-confirm" title="Usuwanie stanowiska">
    <p id="confirmchapter"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Czy na pewno usunąć stanowisko?</p>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/myDeleteDialog.js")
}