@model IEnumerable<EmployeeEvaluation.Models.EmployeeExtended>

@{
    ViewBag.Title = "Lista pracowników";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Pracownicy</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate, "{0:dd.MM.yyyy}")
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
            <a href="#" onclick="actionDelete('@item.Id','@item.FirstName' + ' ' + '@item.LastName','pracownik','/HREmployees/Delete/')">Usuń</a>
        </td>
    </tr>
}

</table>

<div id="dialog-confirm" title="Usuwanie pracownika?">
    <p id="confirmchapter"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Czy na pewno usunąć pracownika?</p>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/myDeleteDialog.js")
}