@model IEnumerable<EmployeeEvaluation.Models.UsersAndRights>
@{
    ViewBag.Title = "Administracja rolami użytkowników";
}
<p class="under-menu"><br /></p>
@*@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}*@
<h2>Lista użytkowników</h2>

@using (Html.BeginForm())
{
    <p>
        Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserName)</th>
        <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
        <th>@Html.DisplayNameFor(model => model.IsHRManager)</th>
        <th>@Html.DisplayNameFor(model => model.IsManager)</th>
        <th>@Html.DisplayNameFor(model => model.IsEmployee)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsAdmin, new {@disabled = "disabled" })
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsHRManager, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsManager, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsEmployee, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.ActionLink("Edytuj", "AdminUserRolesList", new { id = item.Id }) |
                <a href="#" onclick="actionDelete('@item.Id','@item.UserName')">Usuń</a>
            </td>
        </tr>
    }
</table>

<div id="dialog-confirm" title="Usuwanie użytkownika?">
    <p id="confirmchapter"><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Czy na pewno usunąć użytkownika?</p>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/myUserDeleteDialog.js")
}
